# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OS files
.DS_Store
*.cmake
*.txt
build/CMakeFiles/3.22.0/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/example.dir/build.make
build/CMakeFiles/example.dir/compiler_depend.make
build/CMakeFiles/example.dir/compiler_depend.ts
build/CMakeFiles/example.dir/depend.make
build/CMakeFiles/example.dir/examplePYTHON.stamp
build/CMakeFiles/example.dir/examplePYTHON_wrap.cxx
build/CMakeFiles/example.dir/flags.make
build/CMakeFiles/example.dir/progress.make
build/CMakeFiles/example_swig_compilation.dir/build.make
build/CMakeFiles/example_swig_compilation.dir/compiler_depend.make
build/CMakeFiles/example_swig_compilation.dir/compiler_depend.ts
build/CMakeFiles/example_swig_compilation.dir/CXX.includecache
build/CMakeFiles/example_swig_compilation.dir/depend.internal
build/CMakeFiles/example_swig_compilation.dir/depend.make
build/CMakeFiles/example_swig_compilation.dir/progress.make
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
